* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif ;
    margin: 0px;
}
.header-principal {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
}
.header-principal-top {
    display: flex;
    justify-content: space-between;
}
header img {
    width: 50%;
    margin: 0px;
    padding: 3px;
    border-radius: 3px;
}
.buscador {
    padding-left: 5px;
    width: 50%;
    padding-top: 30px;
}
.buscador input {
    width: 70%;
}
.header-principal-bottom {
    text-align: center;
    margin: 5px;
}
.menu button{
    color: antiquewhite;
    padding: 5px;
    font-size: 18px;
    border-radius: 3px;;
    background-color: blue;
    border-color: blue;
}
.header-right{
    display: none;
}

.detalle h2 {
    font-size: 22px;
    margin:  0px;
    text-transform: uppercase;
    color: aliceblue;
    padding: 15px;
    text-align: center;
    margin-bottom: 5px;
}
.detalle {
    background-image: url(/imagenes/ELEMENTAL.avif);
    background-position: center top;
    background-size: cover;
    height: 450px;
}
.detalle img{
    width: 40%;
    height: 20%;
    margin-left: 10px;
    border-radius: 5px;
}
.detalle-producto {
    margin-left: 15px;
    margin-top: 100px;
}
.detalle-producto p{
    font-size: 12px;
    line-height: 8px;
    text-decoration: underline;
    color: white;
    font-weight: bold;
}
.descripcion-producto p {
    padding-top: 10px;
    font-size: 12px;
    padding-left: 8px;
    color: white;

}

.video-top {
    height: 30px;
    padding-left: 3px;
}
.video-top p{
    margin: 2px;
    padding-top: 2px;
    padding-left: 3px;
    color: white;
    font-weight: bold;

}
.video-bottom .fa-solid {
    position: relative;
    bottom: 50%;
    left: 50%;
    font-size: 40px;
}
.trailer {
    height: 250px;
    border: solid 2px rgb(29, 29, 30);
}
.video-bottom {
    height: 220px;
}

.video-bottom img {
    width: 100%;
    height:100%;
}
.comprar {
    margin-top: 3px;
    width: 50%;
}
.comprar h4 {
    margin: 5px;
}
.comprar form {
    
    padding: 5px;
}
.form-comprar {
    display: flex;
    justify-content: space-between;
}
.form-comprar label{
 border-left: 2px solid grey;
 border-top: 2px solid grey;
 width: 50%; 
 height: 25px;
 padding: 3px;
 padding-left: 5px;
}
.formato {
    border-bottom: 2px solid grey;
}
.form-comprar select {
   
    width: 50%;
    text-align: center;
}
form button {
    
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 90px;
    width: 100px;
    height: 50px;
    font-size: 18px;
    text-decoration: underline;
}
footer img {
    width: 50%;
    margin: 5px;
}
footer {
    font-size: 14px;
    text-align: center;
}

@media (min-width:361px) {
    .header-principal-top .buscador {
        width: 40%;
    }
    .buscador input {
        width: 80%;
    }
    
    .header-principal-top img{
        width: 20%;
        margin-bottom: 5px;
    }
    .header-principal-bottom {
        display: none;
    }
    .header-principal-top .header-right{
        width: 40%;
        display: flex;
        padding-top: 25px;
        justify-content: center;
        padding-right: 3px;
    }
    .header-right button {
        background-color: green;
        border-radius: 3px;
        border-color: green;
        width: 80px;
        height: 30px;
        color: white;
    }
    .detalle {
        height: 500px;
    }
    .detalle h2 {
        font-size: 28px;
    }
    .detalle-producto {
        margin-top: 100px;
        font-size: 20px;
    }
    .detalle-producto p{
        font-size: 18px;
    }
    .descripcion-producto p {
        font-size: 16px;
    }
    .trailer {
        height: 300px;
        width: 70%;
        background-position: center;
        margin: 10px 100px;
    }
   
    .trailer .video-top {
        height: 15%;
        font-size: 22px;
        padding-top: 10px;
        background-color: rgb(31, 31, 31)
    }
    .trailer .video-bottom {
        height: 85%;
    }
   
    .comprar {
        width: 50%;
    }
    footer img {
        width: 30%;
        margin: 5px;
    }
    footer {
        font-size: 14px;
        text-align: center;
    }
}
@media (min-width:769px){
    .header-principal {
        height: 80px;
    }
    .header-principal-top img{
        width: 150px;
        height: 80px;
        text-align: center;
    }
    .header-principal-top .buscador {
        width: 100%;
    }
    .buscador input {
        height: 30px;
        font-size: 14px
    };
    .buscador button {
        font-size: 18px;
    }
    .header-principal-top .header-right {
        padding-right: 10px;
    }
    .header-right button {
        margin-right: 20px;
    }


}

