<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Movies</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://kit.fontawesome.com/3208776249.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.png" alt="logo">
                </a>
            </div>

            <input type="text" placeholder="Peliculas, Series, Cine">
            <div class="botones-nav">
                <button>Peliculas</button>
                <button>Series</button>
                <button>Entradas</button>
            </div>
            <div class="botones-usuario">
                <a href="/compras"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a>
                <a href="/register" class="register"><i class="fa-solid fa-circle-user fa-xl"
                        style="color: #ffffff;"></i>Register</a>
                <a href="/login" class="register"><i class="fa-solid fa-circle-user fa-xl"
                        style="color: #ffffff;"></i>Login</a>
            </div>
        </nav>
    </header>
    <main>
        <!-- <div class="portada">
            <img src="/images/oppenheimer.jpg" alt="portada">
        </div> -->
        <div class="filtros-izq">
            <h3>Filtros</h3>
            <ul>
                <li>Accion</li>
                <li>Aventura</li>
                <li>Terror</li>
                <li>Suspenso</li>
                <li>Independiente</li>
            </ul>
        </div>
        <div class="contenido">
            <h3>Destacadas</h3>
            <div class="tarjetas">

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <a class="oppenheimer" href="/productDetail">
                        <img src="/images/oppenheimer.jpg" alt="logo">
                    </a>
                    <a href="/productDetail">Detalle</a>
                    <p>Oppenheimer</p>

                </div>
                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>

                <div class="tarjeta">
                    <p>Clasificacion</p>
                    <img src="/images/logo.jpg" alt="logo">
                    <p>Titulo pelicula</p>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>