<%- include('./partials/head') %>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="card">
                    <form action="/" method="POST">
                        <h2>Iniciar sesión</h2>
                        <div class="input-group">
                            <label for="usuario">Usuario/Email</label>
                            <input type="text" id="usuario" name="usuario" required>
                        </div>
                        <div class="input-group">
                            <label for="contrasena">Contraseña</label>
                            <input type="password" id="contrasena" name="contrasena" required>
                        </div>
                        <div class="input-group">
                            <input type="checkbox" id="olvido" name="olvido">
                            <label for="olvido">Olvidé mi contraseña</label>
                        </div>
                        <button type="submit">Login</button>
                        <div class="social-buttons">
                            <button type="button" class="google-btn"><i class="fab fa-google"></i> Iniciar sesión con
                                Google</button>
                            <button type="button" class="facebook-btn"><i class="fab fa-facebook-f"></i> Iniciar sesión
                                con
                                Facebook</button>
                        </div>
                    </form>
                </div>
            </main>
    </body>
    <%- include('./partials/footer') %>
</html>