<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro de Compras</title>
    <link rel="stylesheet" type="text/css" href="/css/compras.css">
    <script src="https://kit.fontawesome.com/3208776249.js" crossorigin="anonymous"></script>

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.jpg" alt="logo">
                </a>
            </div>

            <input type="text" placeholder="Peliculas, Series, Cine">
            <div class="botones-nav">
                <button>Peliculas</button>
                <button>Series</button>
                <button>Entradas</button>
            </div>
            <div class="botones-usuario">
                <a href="/compras"><i class="fa-solid fa-cart-shopping fa-2xs" style="color: #ffffff;"></i></a>
                <a href="/register" class="register"><i class="fa-solid fa-circle-user fa-2xs" style="color: #ffffff;"></i>Register</a>
                <a href="/login" class="register"><i class="fa-solid fa-circle-user fa-2xs" style="color: #ffffff;"></i>Login</a>
            </div>
        </nav>

    </header>
    <main class="contenido">

        <h3>Seccion de Compras</h3>

        <section class="tarjetas">

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="contenedores">
                <button>Comprar</button>
                <button>Eliminar</button>
                <p class="total-compra">
                    <i class="fa-solid fa-dollar-sign"></i>Total
                </p>
            </div>

        </section>
        <h3>Seccion de Alquiler</h3>
        <section class="tarjetas">

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>

            <div class="tarjeta">
                <div class="texto">
                    <div class="cuadrado"></div>
                    <p>Clasificacion</p>
                </div>
                <img src="/images/logo.jpg" alt="logo">
                <p>Titulo pelicula</p>
            </div>
            <div class="contenedores">
                <button>Comprar</button>
                <button>Eliminar</button>
                <p class="total-compra">
                    <i class="fa-solid fa-dollar-sign"></i>Total
                </p>
            </div>

        </section>


    </main>
    <footer>

    </footer>
</body>

</html>