<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Movies</title>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
    <script src="https://kit.fontawesome.com/3208776249.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/images/logo.jpg" alt="logo"></a>

            <input type="text" placeholder="Peliculas, Series, Cine">
            <div class="botones-nav">
                <button>Peliculas</button>
                <button>Series</button>
                <button>Entradas</button>
            </div>
            <div class="botones-usuario">
                <a href="/compras"><i class="fa-solid fa-cart-shopping fa-2xs" style="color: #ffffff;"></i></a>
                <a href="/register" class="register"><i class="fa-solid fa-circle-user fa-2xs" style="color: #ffffff;"></i>Register</a>
                <a href="/login" class="register"><i class="fa-solid fa-circle-user fa-2xs" style="color: #ffffff;"></i>Login</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="izq-card">
              <form action="#" method="POST" enctype="multipart/form-data">
                <h2>Subir foto de perfil</h2>
                <div class="profile-picture">
                  <label for="foto">
                    <i class="fas fa-user-circle"></i>
                    <span>Foto de perfil</span>
                  </label>
                  <input type="file" id="foto" name="foto" accept="image/*">
                </div>
              </form>
            </div>
            <div class="der-card">
              <form action="#" method="POST">
                <h2>Registrarse</h2>
                <div class="input-group">
                  <label for="usuario">Usuario</label>
                  <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="input-group">
                  <label for="contrasena">Contraseña</label>
                  <input type="password" id="contrasena" name="contrasena" required>
                </div>
                <div class="input-group">
                  <label for="confirmarContrasena">Confirmar contraseña</label>
                  <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>
                </div>
                <div class="input-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group">
                  <label for="confirmarEmail">Confirmar email</label>
                  <input type="email" id="confirmarEmail" name="confirmarEmail" required>
                </div>
                <div class="input-group">
                  <label for="fechaNacimiento">Fecha de nacimiento</label>
                  <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
                </div>
                <button type="button" class="cancel-btn">Cancelar</button>
                <button type="submit">Registrarse</button>
              </form>
            </div>
          </div>
    </main>
</body>
</html>