<footer>
    <h4>Digital Movies</h4>
    <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i>
    <i class="fa-brands fa-facebook-f fa-lg" style="color: #ffffff;"></i>
    <i class="fa-brands fa-twitter fa-lg" style="color: #ffffff;"></i>
</footer>