<header>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="logo">
            </a>
        </div>

        <input type="text" placeholder="Peliculas, Series, Cine">
        <div class="botones-nav">
           <a href="/peliculas"><button>Peliculas</button></a> 
            <button>Series</button>
            <button>Entradas</button>
        </div>
        <div class="botones-usuario">
            <a href="/productCart"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #ffffff;"></i></a>
            <a href="/user/register" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Register</a>
            <a href="/user/login" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Login</a>
            <a href="/user/users-list" class="register"><i class="fa-solid fa-circle-user fa-xl"
                    style="color: #ffffff;"></i>Lista de usuarios</a>
        </div>
    </nav>
</header>